@use "./variables" as *;

h3 {
    text-transform: uppercase;
}

// RECIPE SECTION
.recipes {
    // background color and font styles
    background-color: $primeWhite;

    // font adjustments for page
    h2 {
        font-size: 2rem;
        margin-top: 200px;
        //to prevent clipping for smaller screen resolutions
        line-height: normal;
    }

    h3 {
        font-size: 0.7rem;
    }

    p {
        margin: 10px 0;
    }

    // flex layout: recipe post
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// paragraph spacing for post
.recipePost p {
    margin: 20px 0;
}

// TAGS AND LINKS SECTION
// general format
.tagsContainer,
.shareContainer {
    // flex format: centering tags and logos with text
    display: flex;
    align-items: center;

    // spacing from header
    & h3 {
        margin-right: 10px;
    }
}

// SOCIAL ICONS
.socialList {
    display: flex;
    justify-content: space-between;
}

.socialIconContainer {
    width: 20px;
    height: 20px;
    margin: 0 15px 0 0;

    & svg {
        fill: $primeGrey;
        transition: 0.2s ease;

        &:hover,
        &:focus {
            fill: $primeGreen;
        }
    }
}


// BIO SECTION
.bio {
    // flex format
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0;



}

// figure styling
.bioPic {
    width: calc(100% / 10);
    min-width: 200px;
    // margin: 0 40px 0 0;
}

// text stlying
.bioAbout {
    width: 100%;
    background-color: $secGrey;
    padding: 30px;
    flex-grow: 1;
}

// RELATED POSTS GALLERY SECTION

.relatedGallery {
    background-color: $primeWhite;

    // font adjustment
    h4 {
        font-size: .85rem;
        // adjustment for smaller screen size
        line-height: 1rem;
        margin: 10px 0 0 0;
    }

    // breathing room for section
    .wrapper {
        padding: 30px 0;
    }




}

// post layout
.postList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.postItem {
    width: 30%;
    min-width: 250px;
    flex-grow: 1;

    a:hover {
        .overlay {
            opacity: 1;
        }
    }
}

// post pic and overlay settings
.postPic {
    position: relative;
    width: 100%;
}

// overlay effect
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background-color: $overlaySecGreen;
}

// post data text
.data {
    display: flex;
    flex-direction: column;
}

// COMMENT SECTION
.comments {
    background-color: $primeWhite;
}

// individual comment

// flex format: profilePic and msgContainer
.individualComment {
    display: flex;
    padding: 40px 0;
}

// profile pic width and overlay setup
.profilePic {
    flex-basis: calc(100% / 10);
    position: relative;
}

.msgContainer {
    // flex format
    margin-left: 30px;
    flex-basis: calc(80% - 30px);
    display: flex;
    flex-direction: column;

    // styling
    background-color: $secGrey;
    padding: 15px;

    & p {
        color: $secBlack;
    }
}

.commentItem {
    flex-grow: 1;
}

// message bubble stylings
.commentBio {
    display: flex;
    align-items: center;

    h4 {
        margin-right: 10px;
    }

    .postData {
        font-family: $baseFont;
    }

}

// timeStamp stylings
.timeStampContainer {
    margin-top: 5px;

    .postData {
        @include bodyStyleFont;
        font-size: 0.65rem;
    }
}

// msg tail set up 
.msgContainer {
    position: relative;
}

// msg tail styling
.msgTailContainer {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 18px;
    left: -29px;
}

.msgTail {
    fill: $secGrey;
}


// FORM SECTION
.userComment {
    // flex format for form sections
    display: flex;
    flex-direction: column;
}

// form sections: TEXT input breathing room 
.formIntro,
.userComment,
.buttonContainer {
    padding: 10px 0;
}

// user info section: name, email, website
.userInfo {
    // flex format: adjusting for flex wrap
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;

    input {
        min-width: 200px;
        width: 30%;
        margin: 10px 0 0 0;
        flex-grow: 1;
    }
}

// user comment section
.userComment {
    // layout adjustment
    margin: 15px 0 0 0;
}