@use "./variables" as *;

h3 {
    text-transform: uppercase;
}

// RECIPE SECTION
.recipes {
    // background color and font styles
    background-color: $primeWhite;

    & h2 {
        font-size: 2rem;
        margin-top: 200px;
    }

    & h3 {
        font-size: 0.7rem;
    }

    & p {
        text-align: left;
        margin: 10px 0;
    }

    & .postData p {
        color: $primeBlack;
    }

    & article p {
        margin: 20px 0;
    }

    // flex layout 
    & .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.tags,
.share {
    display: flex;
    align-items: center;

    & h3 {
        margin-right: 10px;
    }
}

// NEED SVG FIX HERE
.share {
    & ul {
        display: flex;
        justify-content: space-between;
    }

    & svg {
        fill: $primeGrey;
        margin: 0 15px 0 0;
        width: 35px;
        height: 35px;

        &:hover,
        :focus-within {
            fill: $primeGreen;
        }
    }
}

.bio {
    // flex format
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    // figure styling
    & figure {
        flex-basis: calc(10% - 20px);
        min-width: 200px;
        min-height: 200px;
    }

    // text stlying
    & article {
        flex-basis: calc(80% - 20px);
        background-color: #99999921;
        padding: 30px;
    }
}

// RELATED POSTS GALLERY SECTION

.relatedGallery {
    background-color: $primeWhite;

    // font adjustment
    & h4 {
        font-size: .85rem;
    }

    & p {
        text-align: left;
    }

    // flex layout
    & .wrapper {
        padding: 30px 0;
    }

    & ul {
        display: flex;
        justify-content: space-between;
    }

    & li {
        flex-basis: 31%;
    }

    & figure {
        width: 100%;
        min-width: 300px;
    }

    & article {
        display: flex;
        flex-direction: column;
    }

    .data {
        margin-top: 10px;
    }


}

figure {
    position: relative;
}

// overlay effect
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background-color: $overlaySecGreen;

    &:hover {
        opacity: 1;
    }
}

// COMMENT SECTION
.comments {
    background-color: $primeWhite;
}

// individual comment

// flex format: profilePic and msgContainer
.individualComment {
    display: flex;
    padding: 40px 0;
}


.profilePic {
    flex-basis: calc(100 / 10);
}

.msgContainer {
    // flex format
    margin-left: 30px;
    flex-basis: calc(80% - 30px);
    display: flex;
    flex-direction: column;

    // styling
    background-color: #99999921;
    padding: 15px;

    & p {
        text-align: left;
        color: $secBlack;
    }
}

.commentItem {
    flex-grow: 1;
}

.postBio {
    display: flex;
    align-items: center;

    & h4 {
        margin-right: 10px;
    }
}

// timeStamp stylings
.timeStampContainer {
    margin-top: 5px;

    & .postData {
        @include bodyStyleFont;
        font-size: 0.65rem;
    }
}

.msgContainer {
    position: relative;
}

// msg tail styling
.msgTailContainer {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 18px;
    left: -29px;
}

.msgTail {
    fill: #99999921;
}



.userComment {
    // flex format for form sections
    display: flex;
    flex-direction: column;

    // input styling
    input,
    textarea {
        @include bodyFont;
        padding: 5px;
        border: 2px solid #99999921;
    }

    textarea {
        resize: none;
        width: 100%;
    }
}

.formIntro,
.userComment,
.buttonContainer {
    padding: 10px 0;
}

.userInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
        min-width: 200px;
        width: 30%;
        margin: 10px 0;
    }
}