@use "./variables" as *;

// flex format: style boxes
.contactUs {
    display: flex;
    width: 100%;

    .wrapper {
        width: 100%;
    }
}

// flex format:
.formatBox {
    display: flex;

    .wrapper {
        display: flex;
    }

}

// left side width and flex format
.left {
    width: 55%;
    background-color: $primeWhite;

    .wrapper {
        justify-content: flex-end;
    }
}

// right side width and flex format
.right {
    width: 45%;
    background-color: $secGrey;

    .wrapper {
        justify-content: flex-start;
    }
}

// 
.userContact {
    max-width: 800px;
    width: 70%;
    padding: 60px 30px;

    .userInfo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        input {
            width: calc(50% - 10px);
        }
    }
}

.userMsg {
    width: 100%;

    input[type="text"],
    textarea {
        width: 100%;
        margin: 5px 0;
    }
}

// CONTACT DETAILS SECTION

.contactText {
    // flex format: parent
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 60px 30px;

    // all child container vertical sizing
    .contactContainer {
        margin: 15px 0;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
        }
    }


}

// details container
.details p {
    margin: 15px 0;
}

// hours container
.dateHeading {
    @include titleFont;
    font-size: 0.7rem;
    letter-spacing: normal;
}

.hoursDetail {
    font-style: italic;
}



// BRAND BANNER SECTION
.brandBanner {
    min-height: 80vh;
    background-image: url(../assets/contact/contact-2.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: $primeWhite;
}