@use "./variables" as *;

// fontsize increase
html {
    font-size: 125%;
    scroll-behavior: smooth;
}

// stripping default styles
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

svg {
    min-width: 100%;
    min-height: 100%;
    display: block;
}

.icon {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
}

figure {
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.wrapper {
    max-width: 1400px;
    width: 70%;
    margin: 0 auto;
}

// typographic pairings to elements
h1 {
    @include titleFont;
}

h2 {
    @include titleFont;
    font-size: 1.2rem; //computed 24px
}

h3,
h4 {
    @include bodyStyleFont;
}



p {
    @include bodyFont;
    color: $primeGrey;
}

// link style and functionality
a {

    // blog.html data link styling
    &.dataLink {
        @include bodyFont;
        font-family: $primeFont;
        text-transform: none;
    }

    color: $primeBlack;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover,
    &:focus {
        color: $primeGreen;
        fill: $primeGreen;
    }

    &:focus {
        border-color: $secGreen;
    }
}


.button {
    // button format
    display: inline-block;
    background-color: $primeGreen;
    border: 1px solid $primeGreen;
    padding: 10px 20px;

    // text styling
    @include titleFont;
    color: $preHoverWhite;
    font-size: 0.9rem;
    transition: .2s ease;


    // hover state and focus state
    &:hover,
    :focus {
        color: $primeWhite;
        cursor: pointer;
    }

    &:focus {
        border-color: $secGreen;
    }

    &.reverse {
        // text styling
        @include titleFont;
        color: $primeGreen;
        font-size: 0.75rem;
        transition: .2s ease;

        // button styling
        display: flex;
        align-items: center;
        background-color: $primeWhite;
        border: 1px solid $primeWhite;
        padding: 5px 20px;

        svg {
            fill: $primeGreen;
            transition: .2s ease;
        }

        &:hover,
        &:focus {
            color: $primeBlack;
            border: 1px solid $primeGreen;

            svg {
                fill: $primeBlack;
            }
        }
    }
}

.brand {
    color: $primeGreen;
    font-size: 2.3rem;
}

hr {
    background-color: $primeGreen;
    border: none;
    width: 90px;
    height: 3px;
    padding: 0;
    margin: 20px 0;

    &.light {
        background-color: $primeGrey;
        width: 100%;
        height: 1px;
        margin: 8px 0;
    }
}

// form input style
input,
textarea {
    @include bodyFont;
    padding: 5px;
    border: 2px solid $secGrey;
}

textarea {
    resize: none;
    width: 100%;
}