@use "./variables" as *;

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

svg {
    min-width: 100%;
    min-height: 100%;
    display: block;
}

.icon {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
}

figure {
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.wrapper {
    max-width: 1400px;
    width: 70%;
    margin: 0 auto;
}

h1 {
    @include titleFont;
}

h2 {
    @include titleFont;
    font-size: 1.2rem; //computed 24px
}

h3 {
    @include bodyStyleFont;
}

p {
    @include bodyFont;
    color: $primeGrey;
}

a {
    // header styling
    @include titleFont;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
        color: $primeGreen;
    }

    // blog data link styling
    &.dataLink {
        @include bodyFont;
        color: $primeBlack;
        text-transform: none;

        &:hover {
            color: $primeGreen;
        }
    }
}

// button styling
.button {
    display: inline-block;
    background-color: $primeGreen;
    border: 1px solid $primeGreen;
    padding: 10px 20px;
    color: $primeWhite;
    transition: .2s ease;

    &:hover {
        color: $secGreen;
        cursor: pointer;
    }
}

hr {
    background-color: $primeGreen;
    border: none;
    width: 90px;
    height: 3px;
    padding: 0;
    margin: 20px 0;

    &.light {
        background-color: $primeGrey;
        width: 100%;
        height: 1px;
        margin: 8px 0;
    }
}