@use "./variables" as *;


header {
    // height and background img setup
    background-image: url("../assets/home/home-1.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100%;

    // blog.html img and height setup
    &.blog {
        background-image: url("../assets/blog/blog-1.jpeg");
        height: 80vh;
        background-color: $primeWhite;
    }

    // wrapper set up
    & .wrapper {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
    }

    // flex format
    ul {
        width: 50%;
        min-width: 680px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // svg styling
    & svg {
        fill: $primeBlack;
        transition: 0.2s ease;

        &:hover {
            fill: $primeGreen;
        }
    }

    & .wrapper {
        position: relative
    }


}

// jump to main section
.jumpToMain {
    position: absolute;
    transition: 0.2s ease;
    top: -50px;
    left: 0px;

    &:hover,
    :focus-within {
        top: 0px;
    }


    & h2 {
        @include titleFont;
        background-color: $secGreen;
        padding: 10px;
        border: 1px solid $secGreen;
        border-radius: 50px;
        font-size: 0.85rem;
        text-align: left;
        position: relative;
        z-index: 10;
        transition: 0.2s ease;

        &:hover {
            color: $primeGreen;
        }
    }

}

.jumpLink:hover {
    color: $primeGreen;
}

.arrowDisplay {
    display: inline-block;
    height: 80px;
    width: 40px;
    background-color: $secGreen;
    border: 1px solid $secGreen;
    border-radius: 50px;
    position: absolute;
    bottom: -40px;
}

.jumpArrow {
    transform: rotate(0.25turn);
    width: 70px;
}