@use "./variables" as *;

// height and background img setup
header {
    background-image: url("../assets/home/home-1.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100%;

    &.blog {
        background-image: url("../assets/blog/blog-1.jpeg");
        height: 80vh;
    }

    // wrapper set up
    & .wrapper {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
    }

    // flex format
    ul {
        width: 50%;
        min-width: 680px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // svg styling
    svg {
        fill: $primeBlack;

        &:hover {
            fill: $primeGreen;
        }
    }
}