@use "./variables" as *;

header {
    background-image: url("../assets/home/home-1.jpeg");
    background-position: top center;
    height: 100vh;
    width: 100%;
}

header .wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}


header ul {
    width: 50%;
    min-width: 680px;
    display: flex;
    justify-content: space-between;
}

header .icon {
    height: 30px;
    width: 30px;
}