@use "./variables" as *;


header {
    // height and background img setup
    background-image: url("../assets/home/home-1.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100%;

    // adjustment to blog.html and contact.html
    &.blog,
    &.contact {
        height: 80vh;
        background-color: $primeWhite;
    }

    &.blog {
        background-image: url("../assets/blog/blog-1.jpeg");
    }

    &.contact {
        background-image: url("../assets/contact/contact-1.jpeg");
    }

    // wrapper set up
    .wrapper {
        // wrapper adjustment
        width: 90%;
        // flex format with wrap
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20%;
        // breathing room
        padding-top: 45px;
        //for jump to main section
        position: relative
    }



    // svg styling
    svg {
        fill: $primeBlack;
        transition: 0.2s ease;

        &:hover,
        &:focus {
            fill: $primeGreen;

        }
    }

    a {
        @include titleFont;
        font-size: 0.9rem;

    }

}

// font adjustment, link interaction
.brandName {
    width: 20%;
    padding: 10px 0;
    transition: 0.2s ease;

    &:hover {
        color: $primeGreen;
    }
}

.navList {
    // dimensions set up
    width: 60%;
    min-width: 680px;
    padding: 10px 0;
    // flex format
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

// searchBar feature
.searchButton {
    position: relative;
}

.searchToggle {
    display: none;
}

.searchToggleLabel {

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.searchBarContainer {
    display: flex;
    width: 325px;
    position: absolute;
    top: 35px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.searchBar {
    min-width: 160px;
    height: 100%;
    border-radius: 50px 0 0 50px;
    padding: 5px 10px;
    flex-grow: 1;
}

.searchButton {
    width: 40px;
    border-radius: 0 50px 50px 0;
}

.searchToggle {

    &:checked {
        ~.searchBarContainer {
            visibility: visible;
            opacity: 1;
            top: 45px;
            right: 0px;
        }
    }
}



// jump to main section
.jumpToMain {
    // initial position
    position: absolute;
    top: -50px;
    left: 0px;
    transition: 0.2s ease;

    &:hover,
    &:focus {
        top: 0px;

        svg {
            color: $primeGreen;
            fill: $primeGreen;
        }

        h2 {
            color: $primeGreen;
        }
    }



    & h2 {
        @include titleFont;
        background-color: $secGreen;
        padding: 10px;
        border: 1px solid $secGreen;
        border-radius: 50px;
        font-size: 0.85rem;
        text-align: left;
        position: relative;
        z-index: 10;
        transition: 0.2s ease;

        &:hover {
            color: $primeGreen;
        }
    }

}

.arrowDisplay {
    display: inline-block;
    height: 80px;
    width: 40px;
    background-color: $secGreen;
    border: 1px solid $secGreen;
    border-radius: 50px;
    position: absolute;
    bottom: -40px;
}

.jumpArrow {
    transform: rotate(0.25turn);
    width: 70px;
}

// MOBILE MENU SECTION
// input and toggle set up
.navToggle,
.navToggleLabel {
    display: none;
}

// MOBILE MENU INITIAL STYLES
@media(max-width:950px) {

    // menu to fixed
    header {
        nav {
            width: 100%;
            position: fixed;
            z-index: 30;
            opacity: .5;
            transition: 0.3s ease;

            // opacity to change when user is off of nav
            &:hover,
            &:focus {
                opacity: 1;
                backdrop-filter: blur(8px);
            }
        }
    }

    // mobile conversion: pop up navItems
    .navList {
        // flex format: menu right side pop  op
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        flex-grow: 0;
        align-self: flex-end;

        // toggle effects
        // transform: scale(1, 0);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease;

        // background menu setup 
        background-color: $secGreen;
        border-radius: 40px;
        padding: 15px;
        width: 300px;
        min-width: auto;

        // position
        position: absolute;
        top: 80px;
        right: 0px;
    }


    .navItem {
        // text alignment
        text-align: right;
        margin-right: 10px;
    }

    // Hamburger menu via Nav Input and TOGGLE
    .navToggle,
    .navToggleLabel {
        display: block;
    }

    .navToggleLabel {

        // functionality
        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    .navToggle,
    .navToggleLabel {
        &:checked {
            ~.navList {
                // ~ finding SIBLING of navToggle instead of child
                opacity: 1;
                visibility: visible;
                top: 95px;
                right: 0px;
            }
        }
    }

    // search bar
    .searchBarContainer {
        top: 0px;
        right: 35px;
        width: 200px;
    }

    .searchToggle {

        &:checked {
            ~.searchBarContainer {
                visibility: visible;
                opacity: 1;
                top: 0px;
                right: 50px;
            }
        }
    }
}