@use "./variables" as *;


header {
    // height and background img setup
    background-image: url("../assets/home/home-1.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100%;

    // adjustment to blog.html and contact.html
    &.blog,
    &.contact {
        height: 80vh;
        background-color: $primeWhite;
    }

    &.blog {
        background-image: url("../assets/blog/blog-1.jpeg");
    }

    &.contact {
        background-image: url("../assets/contact/contact-1.jpeg");
    }

    // wrapper set up
    .wrapper {
        // wrapper adjustment
        width: 90%;
        // flex format with wrap
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20%;
        // breathing room
        padding-top: 45px;
        //for jump to main section
        position: relative
    }



    // svg styling
    svg {
        fill: $primeBlack;
        transition: 0.2s ease;

        &:hover,
        &:focus {
            fill: $primeGreen;

        }
    }

    a {
        @include titleFont;
        font-size: 0.9rem;

    }

}

// font adjustment, link interaction
.brandName {
    width: 20%;
    padding: 10px 0;
    transition: 0.2s ease;

    &:hover {
        color: $primeGreen;
    }
}

.navList {
    // dimensions set up
    width: 60%;
    min-width: 680px;
    padding: 10px 0;
    // flex format
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

// searchBar feature
.searchButton {
    position: relative;
}

.searchToggle {
    display: none;
}

.searchToggleLabel {

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.searchBarContainer {
    display: flex;
    width: 325px;
    position: absolute;
    top: 35px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.searchBar {
    min-width: 160px;
    height: 100%;
    border-radius: 50px 0 0 50px;
    padding: 5px 10px;
    flex-grow: 1;
}

.searchButton {
    width: 40px;
    border-radius: 0 50px 50px 0;
}

.searchToggle {

    &:checked {
        ~.searchBarContainer {
            visibility: visible;
            opacity: 1;
            top: 45px;
            right: 0px;
        }
    }
}



// jump to main section
.jumpToMain {
    position: absolute;
    transition: 0.2s ease;
    top: -50px;
    left: 0px;

    &:hover,
    &:focus {
        top: 0px;

        svg {
            color: $primeGreen;
            fill: $primeGreen;
        }

        h2 {
            color: $primeGreen;
        }
    }



    & h2 {
        @include titleFont;
        background-color: $secGreen;
        padding: 10px;
        border: 1px solid $secGreen;
        border-radius: 50px;
        font-size: 0.85rem;
        text-align: left;
        position: relative;
        z-index: 10;
        transition: 0.2s ease;

        &:hover {
            color: $primeGreen;
        }
    }

}

.arrowDisplay {
    display: inline-block;
    height: 80px;
    width: 40px;
    background-color: $secGreen;
    border: 1px solid $secGreen;
    border-radius: 50px;
    position: absolute;
    bottom: -40px;
}

.jumpArrow {
    transform: rotate(0.25turn);
    width: 70px;
}


// mobile toggle menu


.navToggle,
.navToggleLabel {
    display: none;

    &:checked {

        ~.navList {
            // ~ finding SIBLING of navToggle instead of child
            opacity: 1;
            visibility: visible;
            top: 95px;
            right: 0px;
        }
    }
}