@use "./variables" as *;


header {
    // height and background img setup
    background-image: url("../assets/home/home-1.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100%;

    // adjustment to blog.html and contact.html
    &.blog,
    &.contact {
        height: 80vh;
        background-color: $primeWhite;
    }

    &.blog {
        background-image: url("../assets/blog/blog-1.jpeg");
    }

    &.contact {
        background-image: url("../assets/contact/contact-1.jpeg");
    }

    // wrapper set up
    .wrapper {
        // wrapper adjustment
        width: 90%;

        // flex format with wrap
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // breathing room
        padding-top: 45px;
        //for jump to main section
        position: relative
    }

    // font adjustment, link interaction
    h1 {
        transition: 0.2s ease;

        &:hover {
            color: $primeGreen;
        }
    }

    // svg styling
    svg {
        fill: $primeBlack;
        transition: 0.2s ease;
    }

    a {
        @include titleFont;
        font-size: 0.9rem;

        &:hover,
        &:focus {
            svg {
                fill: $primeGreen;
            }

        }
    }

}

.brandContainer {
    width: 40%;
    padding: 10px 0;
}

.navList {
    // dimensions set up
    width: 60%;
    min-width: 680px;
    padding: 10px 0;
    // flex format
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

// jump to main section
.jumpToMain {
    position: absolute;
    transition: 0.2s ease;
    top: -50px;
    left: 0px;

    &:hover,
    &:focus {
        top: 0px;

        svg {
            color: $primeGreen;
            fill: $primeGreen;
        }

        h2 {
            color: $primeGreen;
        }
    }



    & h2 {
        @include titleFont;
        background-color: $secGreen;
        padding: 10px;
        border: 1px solid $secGreen;
        border-radius: 50px;
        font-size: 0.85rem;
        text-align: left;
        position: relative;
        z-index: 10;
        transition: 0.2s ease;

        &:hover {
            color: $primeGreen;
        }
    }

}

.arrowDisplay {
    display: inline-block;
    height: 80px;
    width: 40px;
    background-color: $secGreen;
    border: 1px solid $secGreen;
    border-radius: 50px;
    position: absolute;
    bottom: -40px;
}

.jumpArrow {
    transform: rotate(0.25turn);
    width: 70px;
}

// search bar section WIP

// .searchContainer {
//     // linking movement to search ICON
//     position: absolute;
//     // search input dimensions
//     width: 350px;
//     height: 100px;
//     //flex format: input child to right center 
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     // initial position
//     top: -20px;
//     left: -300px;
//     background-color: rgba(0, 0, 255, 0.359);
//     // animation
//     transition: 0.2s ease;


//     input {
//         min-width: 250px;
//         // display: none;
//         margin: 0 10px 0 0;
//     }
// }

// WIP currently!
// .searchButton {
//     position: relative;

//     &:hover,
//     &:focus {
//         .searchContainer {
//             top: 50px;
//         }

//         .searchContainer input {
//             display: block;
//         }
//     }
// }


@keyframes dropDown {

    1% {
        display: block;
    }

    2% {
        top: -3px;
        left: -211px;
    }

    100% {
        top: 30px;
        opacity: 100%;
    }
}