@use "./variables" as *;

// BULLETIN SECTION
.bulletin {
    // flex format: .popularRecipesContainer and .foodListContainer
    width: 100%;
    display: flex;
    flex-direction: column;


    & article,
    figure {
        width: 50%;
        background-color: $primeWhite;
    }

    // general article styles
    & article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 65px;
    }

}

// flex format: 2x2 figure/article
.popularRecipesContainer,
.foodListContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $primeWhite;
}

.popularRecipesContainer {
    flex-direction: row-reverse;
}

// popular recipes article
.popularRecipes {
    & p {
        margin: 40px 0;
    }
}



// food list article

.foodListArticle {
    overflow: hidden;
    // links dimension of article to the figure beside
    aspect-ratio: 951.5 / 735.017;
}

.foodList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foodItem {
    display: flex;
    width: 48%;
    margin: 5px 0;
}

.textContainer p {
    padding: 10px 0;
    font-size: 0.6rem;
}

.icon {
    margin-right: 5px;
}




// ABOUT SECTION
.about {
    // dimensions
    width: 100%;
    height: 100vh;

    // flex format
    display: flex;
    justify-content: center;
    align-items: center;

    // wrapper adjustment
    .wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure {
        margin-top: 150px;
        width: 80%;
        position: relative;
    }

}

.aboutStamp {
    width: 30%;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    background-image: url(../assets/home/home-circle-text.png);
    background-size: cover;
    position: absolute;
    top: -90px;
    right: -33px;
}

.aboutTextContainer {
    // flex format
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 0 60px 0;

    // font adjustments 
    h2 {
        margin-top: 80px;
    }

    p {
        text-align: center;
    }
}

// GALLERY SECTION

.gallery {
    width: 100%;
}

.galleryContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    object-fit: contain;
    margin-top: 50px;
}

.galleryItem {
    min-width: 200px;
    width: calc(100% / 3);
    flex-grow: 1;

    img {
        object-fit: contain;
    }
}

//REVIEW SECTION 
.review {
    background-color: $secGreen;

    // wrapper adjustment
    .wrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    p {
        @include quoteFont;
        color: $secBlack;
    }
}

.quoteContainer {
    position: relative;
}

.quotationMarks::before,
.quotationMarks::after {
    color: $primeWhite;
    position: absolute;
    font-size: 140px;
}

.quotationMarks::before {
    content: "“";
    top: 0px;
    left: -50px;
}

.quotationMarks::after {
    content: "”";
    bottom: -35px;
    right: -50px;
}

.navArrow {
    margin-top: 100px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & svg {
        height: 65px;
        width: 65px;
        fill: $preHoverWhite;
        transition: 0.2s ease;

        &:hover {
            fill: $primeWhite;
        }
    }

}