@use "./variables" as *;


@media(max-width: 1440px) {

    .popularRecipesContainer,
    .foodListContainer {
        flex-direction: column;
    }

    .bulletin {

        article,
        figure {
            width: 100%;
        }

        article {
            padding: 65px;
        }

        figure {
            min-height: 100vh;
        }

    }
}

@media(max-width: 1180px) {


    // BLOG PAGE

    // RECIPE BIO SECTION
    .bio {
        // flexformat:
        flex-direction: column;
        align-items: center;
    }




    // CONTACT PAGE

    // FORM AND CONTACT DETAILS SECTIONS
    // flex format: form and detail boxes
    .contactUs {
        flex-direction: column;
    }

    .formatBox.left,
    .formatBox.right {
        width: 100%;
    }

}

@media(max-width: 950px) {

    // HEADER SECTION
    // menu to fixed
    header {

        nav {
            position: fixed;
            width: 100%;
            opacity: .5;
            transition: 0.3s ease;

            &:hover,
            &:focus {
                opacity: 1;
                // background-color: ;
            }
        }
    }


    // mobile integration
    .navList {
        // flex format: menu right side pop  op
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        flex-grow: 0;
        align-self: flex-end;

        // toggle effects
        // transform: scale(1, 0);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease;

        // background menu setup 
        background-color: $secGreen;
        border-radius: 40px;
        padding: 15px;
        width: 250px;
        min-width: auto;

        // position
        position: absolute;
        top: 80px;
        right: 0px;
    }

    .navItem {
        text-align: right;
        margin-right: 10px;
    }

    .navToggle,
    .navToggleLabel {
        display: block;
    }

    .navToggleLabel {

        &:hover,
        &:focus {
            cursor: pointer;


        }
    }



    // HOMEPAGE
    // BULLETIN SECTION
    // foodlist ul
    .foodListArticle {
        overflow: visible;
        aspect-ratio: auto;
    }

    .foodItem {
        width: 100%;
    }

    // BLOG PAGE
    // COMMENT SECTION
    .commentBio {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 10px 0;
    }

    // CONTACT PAGE
    // FORM AND CONTACT DETAILS SECTION

    // format box centering and wrapper adjustment
    .formatBox .wrapper {
        width: 70%;
        justify-content: center;
        align-items: center;
    }

    // Centering all contact info containers
    .contactText {
        max-width: 100%;
        align-items: center;
        // centering all text elements
        text-align: center;
    }

    .contactContainer {
        align-items: center;
    }

}