@use "./variables" as *;


@media(max-width: 1440px) {

    .popularRecipesContainer,
    .foodListContainer {
        flex-direction: column;
    }

    .foodListArticle {
        overflow: visible;
        aspect-ratio: auto;
    }

    .bulletin {

        article,
        figure {
            width: 100%;
        }

        article {
            padding: 65px;
        }
    }
}

@media(max-width: 1180px) {


    // BLOG PAGE

    // RECIPE BIO SECTION
    .bio {
        // flexformat:
        flex-direction: column;
        align-items: center;
    }

    // CONTACT PAGE

    // FORM AND CONTACT DETAILS SECTIONS
    // flex format: form and detail boxes
    .contactUs {
        flex-direction: column;
    }

    .formatBox.left,
    .formatBox.right {
        width: 100%;
    }

}

@media(max-width: 950px) {

    // HOMEPAGE
    // BULLETIN SECTION
    // foodlist ul
    .foodItem {
        width: 100%;
    }

    .about {
        .wrapper {
            width: 75%;
        }

        figure {
            width: 80%;
        }

    }

    .navArrow {
        margin-top: 45px;
    }

    // REVIEW SECTION

    .review {
        .wrapper {
            width: 90%;
        }
    }

    .testimonial {
        padding: 50px;

        p {
            font-size: 1rem; //18px computed
            line-height: 1.6rem; //32px computed
            letter-spacing: .03rem; //.5px computed
        }
    }

    // BLOG PAGE
    // COMMENT SECTION
    .commentBio {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 10px 0;
    }

    // CONTACT PAGE
    // FORM AND CONTACT DETAILS SECTION

    // format box centering and wrapper adjustment
    .formatBox .wrapper {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .userContact {
        width: 100%;
    }

    // Centering all contact info containers
    .contactText {
        max-width: 100%;
        align-items: center;
        // centering all text elements
        text-align: center;
    }

    .contactContainer {
        align-items: center;
    }

}

@media(max-width: 420px) {

    // HEADER SECTION

    // MOBILE NAV MENU SECTION
    // nav pop up adjustment to hamburger menu flexing on left side
    .navList {
        // nav list dimensions adjustment
        width: 100%;

        // nav list initial postion (before animation)
        top: 130px;
        right: auto;
        //flex format: nav items on left
        align-items: flex-start;
    }

    .navToggle,
    .navToggleLabel {
        &:checked {

            // movement adjustment for animation
            ~.navList {
                top: 136px;
            }
        }
    }

    .navItem {
        text-align: left;
        margin-left: 10px;
    }

    // SEARCH BAR FUNCTION
    .searchBarContainer {
        left: 35px;
    }

    .searchToggle {

        &:checked {
            ~.searchBarContainer {
                left: 50px;
            }
        }
    }


    // BLOG PAGE
    // COMMENT SECTION
    .individualComment {
        // flex format: profile picture stacked on top of msg container
        justify-content: center;
        align-items: center;
    }

    .msgContainer {
        // revert min width
        width: 100%;
        min-width: auto;
    }

    // COMMENT INPUT SECTION
    .buttonContainer {
        width: 100%;

        button {
            width: 100%;
            text-align: center;
        }
    }

    // FOOTER SECTION

    // map item width adjustment
    .mapItem {
        // revert min width
        width: 100%;
        min-width: auto;
    }

    // copyright section
    .copyright p {
        text-align: center;
    }
}