@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.postData {
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

svg {
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.icon {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
}

figure {
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1400px;
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  font-size: 1.2rem;
}

h3,
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.8rem;
  letter-spacing: 0.025rem;
}

p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #999999;
}

a {
  color: #2E2E2E;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
a.dataLink {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  font-family: "Raleway", sans-serif;
  text-transform: none;
}
a:hover, a:focus {
  color: #64A604;
  fill: #64A604;
}
a:focus {
  border-color: #DDED9A;
}

.button {
  display: inline-block;
  background-color: #64A604;
  border: 1px solid #64A604;
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  color: rgba(246, 246, 246, 0.6588235294);
  font-size: 0.9rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.button:hover,
.button :focus {
  color: #F6F6F6;
  cursor: pointer;
}
.button:focus {
  border-color: #DDED9A;
}
.button.reverse {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  color: #64A604;
  font-size: 0.75rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  padding: 5px 20px;
}
.button.reverse svg {
  fill: #64A604;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.button.reverse:hover, .button.reverse:focus {
  color: #2E2E2E;
  border: 1px solid #64A604;
}
.button.reverse:hover svg, .button.reverse:focus svg {
  fill: #2E2E2E;
}

.brand {
  color: #64A604;
  font-size: 2.3rem;
}

hr {
  background-color: #64A604;
  border: none;
  width: 90px;
  height: 3px;
  padding: 0;
  margin: 20px 0;
}
hr.light {
  background-color: #999999;
  width: 100%;
  height: 1px;
  margin: 8px 0;
}

input,
textarea {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  padding: 5px;
  border: 2px solid rgba(153, 153, 153, 0.1294117647);
}

textarea {
  resize: none;
  width: 100%;
}

header {
  background-image: url("../assets/home/home-1.jpeg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  width: 100%;
}
header.blog, header.contact {
  height: 80vh;
  background-color: #F6F6F6;
}
header.blog {
  background-image: url("../assets/blog/blog-1.jpeg");
}
header.contact {
  background-image: url("../assets/contact/contact-1.jpeg");
}
header .wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20%;
  padding-top: 45px;
  position: relative;
}
header svg {
  fill: #2E2E2E;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
header svg:hover, header svg:focus {
  fill: #64A604;
}
header a {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  font-size: 0.9rem;
}

.brandName {
  width: 20%;
  padding: 10px 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.brandName:hover {
  color: #64A604;
}

.navList {
  width: 60%;
  min-width: 680px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.jumpToMain {
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  top: -50px;
  left: 0px;
}
.jumpToMain:hover, .jumpToMain:focus {
  top: 0px;
}
.jumpToMain:hover svg, .jumpToMain:focus svg {
  color: #64A604;
  fill: #64A604;
}
.jumpToMain:hover h2, .jumpToMain:focus h2 {
  color: #64A604;
}
.jumpToMain h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  background-color: #DDED9A;
  padding: 10px;
  border: 1px solid #DDED9A;
  border-radius: 50px;
  font-size: 0.85rem;
  text-align: left;
  position: relative;
  z-index: 10;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.jumpToMain h2:hover {
  color: #64A604;
}

.arrowDisplay {
  display: inline-block;
  height: 80px;
  width: 40px;
  background-color: #DDED9A;
  border: 1px solid #DDED9A;
  border-radius: 50px;
  position: absolute;
  bottom: -40px;
}

.jumpArrow {
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  width: 70px;
}

.navToggle,
.navToggleLabel {
  display: none;
}
.navToggle:checked ~ .navList,
.navToggleLabel:checked ~ .navList {
  opacity: 1;
  visibility: visible;
  top: 95px;
  right: 0px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
}
footer .wrapper {
  width: 70%;
}
footer h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.025rem;
  color: #F6F6F6;
  margin-bottom: 40px;
}
footer h4,
footer p,
footer a {
  font-family: "Lora", serif;
  font-weight: 400;
  text-align: left;
  font-size: 0.65rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
}
footer a {
  color: #999999;
}

.siteMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 90px 0;
}

.mapItem {
  width: 30%;
  min-width: 275px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.connectDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email form {
  margin: 30px 0;
}
.email .inputFormat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email input {
  font-family: "Lora", serif;
  font-weight: 400;
  text-align: left;
  font-size: 0.65rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  border: 1px solid #2E2E2E;
  background-color: #2E2E2E;
  border-radius: none;
  width: 100%;
  color: #F6F6F6;
}
.email button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.email button:hover svg {
  fill: #F6F6F6;
}

.submitArrow {
  fill: rgba(246, 246, 246, 0.6588235294);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.email .socialList {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.email .socialIconContainer {
  margin: 10px 20px 0 0;
}

.copyright {
  background-color: #2E2E2E;
  padding: 10px;
}

.bulletin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bulletin article,
.bulletin figure {
  width: 50%;
  background-color: #F6F6F6;
}
.bulletin article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 65px;
}

.popularRecipesContainer,
.foodListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #F6F6F6;
}

.popularRecipesContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.popularRecipes p {
  margin: 40px 0;
}

.foodListArticle {
  overflow: hidden;
  aspect-ratio: 951.5/735.017;
}

.foodList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foodItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin: 5px 0;
}

.textContainer p {
  padding: 10px 0;
  font-size: 0.6rem;
}

.icon {
  margin-right: 5px;
}

.about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about figure {
  margin-top: 150px;
  width: 500px;
  position: relative;
}

.aboutStamp {
  width: 200px;
  height: 200px;
  background-image: url(../assets/home/home-circle-text.png);
  background-size: contain;
  position: absolute;
  top: -120px;
  right: -70px;
}

.aboutTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 60px 0;
}
.aboutTextContainer h2 {
  margin-top: 80px;
}
.aboutTextContainer p {
  text-align: center;
}

.gallery {
  width: 100%;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galleryItem {
  width: 33.3333333333%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 300px;
}

.review {
  background-color: #DDED9A;
}
.review .wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}
.testimonial p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.03rem;
  color: #333333;
}

.quoteContainer {
  position: relative;
}

.quotationMarks::before,
.quotationMarks::after {
  color: #F6F6F6;
  position: absolute;
  font-size: 140px;
}

.quotationMarks::before {
  content: "“";
  top: 0px;
  left: -50px;
}

.quotationMarks::after {
  content: "”";
  bottom: -35px;
  right: -50px;
}

.navArrow {
  margin-top: 100px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navArrow svg {
  height: 65px;
  width: 65px;
  fill: rgba(246, 246, 246, 0.6588235294);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.navArrow svg:hover {
  fill: #F6F6F6;
}

h3 {
  text-transform: uppercase;
}

.recipes {
  background-color: #F6F6F6;
}
.recipes h2 {
  font-size: 2rem;
  margin-top: 200px;
  line-height: normal;
}
.recipes h3 {
  font-size: 0.7rem;
}
.recipes p {
  margin: 10px 0;
}
.recipes .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipePost p {
  margin: 20px 0;
}

.tagsContainer,
.shareContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tagsContainer h3,
.shareContainer h3 {
  margin-right: 10px;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialIconContainer {
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
}
.socialIconContainer svg {
  fill: #999999;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.socialIconContainer svg:hover, .socialIconContainer svg:focus {
  fill: #64A604;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin: 30px 0;
}

.bioPic {
  width: 10%;
  min-width: 200px;
}

.bioAbout {
  width: 100%;
  background-color: rgba(153, 153, 153, 0.1294117647);
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.relatedGallery {
  background-color: #F6F6F6;
}
.relatedGallery h4 {
  font-size: 0.85rem;
  line-height: 1rem;
  margin: 10px 0 0 0;
}
.relatedGallery .wrapper {
  padding: 30px 0;
}

.postList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.postItem {
  width: 30%;
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.postItem a:hover .overlay {
  opacity: 1;
}

.postPic {
  position: relative;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: rgba(220, 237, 154, 0.2431372549);
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments {
  background-color: #F6F6F6;
}

.individualComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.profilePic {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  position: relative;
}

.msgContainer {
  margin-left: 30px;
  -ms-flex-preferred-size: calc(80% - 30px);
      flex-basis: calc(80% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(153, 153, 153, 0.1294117647);
  padding: 15px;
}
.msgContainer p {
  color: #333333;
}

.commentItem {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.commentBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.commentBio h4 {
  margin-right: 10px;
}
.commentBio .postData {
  font-family: "Lora", serif;
}

.timeStampContainer {
  margin-top: 5px;
}
.timeStampContainer .postData {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.8rem;
  letter-spacing: 0.025rem;
  font-size: 0.65rem;
}

.msgContainer {
  position: relative;
}

.msgTailContainer {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  left: -29px;
}

.msgTail {
  fill: rgba(153, 153, 153, 0.1294117647);
}

.userComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formIntro,
.userComment,
.buttonContainer {
  padding: 10px 0;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.userInfo input {
  min-width: 200px;
  width: 30%;
  margin: 10px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.userComment {
  margin: 15px 0 0 0;
}

.contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.contactUs .wrapper {
  width: 100%;
}

.formatBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.formatBox .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  width: 55%;
  background-color: #F6F6F6;
}
.left .wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right {
  width: 45%;
  background-color: rgba(153, 153, 153, 0.1294117647);
}
.right .wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.userContact {
  max-width: 800px;
  width: 70%;
  padding: 60px 30px;
}
.userContact .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.userContact .userInfo input {
  width: calc(50% - 10px);
}

.userMsg {
  width: 100%;
}
.userMsg input[type=text],
.userMsg textarea {
  width: 100%;
  margin: 5px 0;
}

.contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  padding: 60px 30px;
}
.contactText .contactContainer {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details p {
  margin: 15px 0;
}

.dateHeading {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  font-size: 0.7rem;
  letter-spacing: normal;
}

.hoursDetail {
  font-style: italic;
}

.brandBanner {
  min-height: 80vh;
  background-image: url(../assets/contact/contact-2.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #F6F6F6;
}

@media (max-width: 1440px) {
  .popularRecipesContainer,
  .foodListContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bulletin article,
  .bulletin figure {
    width: 100%;
  }
  .bulletin article {
    padding: 65px;
  }
  .bulletin figure {
    min-height: 100vh;
  }
}
@media (max-width: 1180px) {
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formatBox.left,
  .formatBox.right {
    width: 100%;
  }
}
@media (max-width: 950px) {
  header nav {
    position: fixed;
    width: 100%;
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header nav:hover, header nav:focus {
    opacity: 1;
  }
  .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: #DDED9A;
    border-radius: 40px;
    padding: 15px;
    width: 250px;
    min-width: auto;
    position: absolute;
    top: 80px;
    right: 0px;
  }
  .navItem {
    text-align: right;
    margin-right: 10px;
  }
  .navToggle,
  .navToggleLabel {
    display: block;
  }
  .navToggleLabel:hover, .navToggleLabel:focus {
    cursor: pointer;
  }
  .foodListArticle {
    overflow: visible;
    aspect-ratio: auto;
  }
  .foodItem {
    width: 100%;
  }
  .commentBio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 10px 0;
  }
  .formatBox .wrapper {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactText {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contactContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}