@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.brand {
  color: #64A604;
  font-size: 2.3rem;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

svg {
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.icon {
  width: 35px;
  height: 35px;
}

figure {
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1400px;
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  font-size: 1.2rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.8rem;
  letter-spacing: 0.025rem;
}

p {
  font-family: "Lora", serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #999999;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.055rem;
  color: #2E2E2E;
  font-size: 0.9rem;
  text-decoration: none;
}
a:hover {
  color: #64A604;
}

.button {
  display: inline-block;
  background-color: #64A604;
  border: 1px solid #64A604;
  padding: 10px 20px;
  color: #F6F6F6;
}
.button:hover {
  color: #DDED9A;
  cursor: pointer;
}

hr {
  background-color: #64A604;
  border: none;
  width: 90px;
  height: 3px;
  padding: 0;
  margin: 20px 0;
}
hr.light {
  background-color: #999999;
  width: 100%;
  height: 1px;
  margin: 8px 0;
}

header {
  background-image: url("../assets/home/home-1.jpeg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  width: 100%;
}
header.blog {
  background-image: url("../assets/blog/blog-1.jpeg");
  height: 80vh;
}
header .wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}
header ul {
  width: 50%;
  min-width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header svg {
  fill: #2E2E2E;
}
header svg:hover {
  fill: #64A604;
}

footer {
  width: 100%;
  background-color: #2E2E2E;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0;
}
footer li {
  width: 25%;
}
footer h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.025rem;
  color: #F6F6F6;
  margin-bottom: 40px;
}
footer p {
  font-family: "Lora", serif;
  font-weight: 400;
  text-align: left;
  font-size: 0.65rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  text-align: left;
}
footer a {
  text-transform: uppercase;
}

.email form {
  margin: 30px 0;
}
.email .inputFormat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email input {
  font-family: "Lora", serif;
  font-weight: 400;
  text-align: left;
  font-size: 0.65rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  border: 1px solid #999999;
  background-color: #999999;
  border-radius: none;
  width: 100%;
}
.email button {
  width: 40px;
  height: 40px;
  position: relative;
}
.email svg {
  fill: #F6F6F6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bulletin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bulletin .popularRecipes,
.bulletin .foodList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.bulletin .foodList {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.bulletin article,
.bulletin figure {
  width: 50%;
}
.bulletin article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
  background-color: #F6F6F6;
}

.popularRecipes article p {
  margin: 40px 0;
}

.foodList {
  background-color: #F6F6F6;
}
.foodList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.foodList ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin: 10px 0;
}
.foodList ul p {
  text-align: left;
  padding: 10px 0;
  font-size: 0.6rem;
}
.foodList .icon {
  min-width: 40px;
  min-height: 40px;
}

.about {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about figure {
  margin-top: 50px;
  width: 500px;
  min-width: 250px;
  position: relative;
}
.about .stamp {
  width: 200px;
  height: 200px;
  background-image: url(../assets/home/home-circle-text.png);
  background-size: contain;
  position: absolute;
  top: -120px;
  right: -70px;
}
.about h2 {
  margin-top: 80px;
}

.gallery {
  width: 100%;
}
.gallery ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery ul li {
  width: 33%;
}

.review {
  background-color: #DDED9A;
}
.review .wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}
.review p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.03rem;
  color: #333333;
}
.review .quoteContainer {
  position: relative;
}
.review .quotationMarks::before,
.review .quotationMarks::after {
  color: #F6F6F6;
  position: absolute;
  font-size: 140px;
}
.review .quotationMarks::before {
  content: "“";
  top: -40px;
  left: -60px;
}
.review .quotationMarks::after {
  content: "”";
  bottom: -80px;
  right: -60px;
}

.navArrow {
  margin-top: 100px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navArrow svg {
  height: 65px;
  width: 65px;
  fill: rgba(246, 246, 246, 0.6588235294);
}
.navArrow svg:hover {
  fill: #F6F6F6;
}

.recipes {
  background-color: #F6F6F6;
}
.recipes h2 {
  font-size: 2rem;
  margin-top: 200px;
}
.recipes h3 {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.recipes p {
  text-align: left;
  margin: 10px 0;
}
.recipes .recipeData p {
  color: #2E2E2E;
}
.recipes article p {
  margin: 20px 0;
}

.recipes .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tags,
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tags h3,
.share h3 {
  margin-right: 10px;
}

.share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.share svg {
  width: 20px;
  height: 20px;
  fill: #999999;
  margin: 0 15px;
}
.share svg:hover,
.share svg :focus-within {
  fill: #64A604;
}